<div id="error-view-sendmessage" class="box-error-message">
	<div class="content-cell"><span><#= $.i18n.prop('error.send.title') #></span><ul id='send-list-wrapper'></ul></div>
</div>
<h2><#= $.i18n.prop('user.password') #></h2>

<div class="user-form-wrapper clearfix">
	<div class="form-row mid-margin">
		<label>
			<span><#= $.i18n.prop('user.details.newpassword') #></span>
			<input type="password" id="newPassword" class="input" />
		</label>
	</div>

	<div class="form-row mid-margin">
		<label>
			<span><#= $.i18n.prop('user.details.retypepassword') #></span>
			<input type="password" id="retypePassword" class="input" />
		</label>
	</div>

	<div class="form-actions">
		<a class="graphicBtn primary" id="updatePasswordBtn" data-tpl="accountChangePassword"><span><#= $.i18n.prop('buttons.update') #></span></a>
		<a class="graphicBtn little loadTplBtn" data-tpl="accountChangePassword"><span><#= $.i18n.prop('buttons.cancel') #></span></a>
	</div>
</div>

<div id="tooltipForPass"></div>

<script>

	$('#newPassword, #retypePassword').attr('title', $.i18n.prop('tip.user.pwd.instruction'));  
	var tooltipClass = "displayTitleOnArrowToolTip";
	if ($.browser.msie) {
		tooltipClass = "displayTitleOnArrowToolTipIE";
	}
	displayTitleOnToolTipForForm("accountContent", "top center", tooltipClass, true);

</script>
