
	<div id="adminNav">
		<ul class="adminMenu">

			<li>
				<a data-tpl="adminCompany">
					<span><#= $.i18n.prop('admin.CompanyManagement') #></span>
				</a>
			</li>

			<li>
				<a data-tpl="adminUsers">
					<span><#= $.i18n.prop('admin.UsersManagement') #></span>
				</a>
			</li>

			<li>
				<a data-tpl="adminAsset">
					<span><#= $.i18n.prop('admin.AssetManagement') #></span>
				</a>
			</li>

			<li>
				<a data-tpl="adminGroup">
					<span><#= $.i18n.prop('admin.GroupManagement') #></span>
				</a>
			</li>

			<li>
				<a data-tpl="adminPlace">
					<span><#= $.i18n.prop('admin.LocationManagement') #></span>
				</a>
			</li>

			<li>
				<a data-tpl="adminPrivacy">
					<span><#= $.i18n.prop('admin.privacyControl') #></span>
				</a>
			</li>

		</ul>
	</div>

	<div id="adminContent">
	</div>
