<div id="tabs_in_enterpriseCategoryDialog">
	<ul>
		<li id="edit_ecat_tab1_list_item">
			<a id="tab1" href="#tabs-1"></a>
		</li>
		<li id="edit_ecat_tab2_list_item">
			<a id="tab2" href="#tabs-2"></a>
		</li>
		<li id ="edit_ecat_tab3_list_item">
			<a id="tab3" href="#tabs-3"></a>	
		</li>
	</ul>
	<div id="error-view-category" class="box-error-message">
		<div class="content-cell"><span><#= $.i18n.prop('error.send.title') #></span><ul id='send-list-wrapper'></ul></div>
	</div>
	<div id="tabs-1"></div>
	<div id="tabs-2"></div>
	<div id="tabs-3"></div>
</div>