<div id="forgotUsernamePasswordDialog">
  <div class="errorsDisplay"></div>
  <form action="/requestNewPassword.action" id="forgotUsernamePasswordForm" method="post">
<!--     <h1 class="title"><#= $.i18n.prop('forgotPassword.enterMsisdnEmail', [$.i18n.prop('msisdn')], [$.i18n.prop('email')]) #></h1> -->
    <div class="row clearfix">
      <label for="email" class="label"><#= $.i18n.prop('email') #></label>
      <input type='text' id='email' class="nameInput" name="email" maxlength="50" size="40" />
    </div>
    <div class="row clearfix
    ">  
      <label for="msisdn" class="excpLabel"><#= $.i18n.prop('msisdn') #></label>
      <input type='text' class="nameInput" id='msisdn' name="msisdn" maxlength="50" size="40" />
    </div>

    <div class="button_class dialog_action clearfix">
        <button aria-disabled="false" role="button" class="send ui-button ui-widget ui-button-text-only purple_button no-border" type="button"><span style="line-height:2.5em !important; font-weight: bold; " class="ui-button-text"><#= $.i18n.prop('buttons.ok') #></span></button>
    </div>
  </form>
</div>