<div id="edit_group_dialog">
	<div id="tabs_in_edit_group">
		<ul>
			<li>
				<a id="edit_group_tab0_link" style="font-weight:bold" href="#edit_group_tab0"></a>
			</li>
			<li>
				<a id="edit_group_tab1_link" style="font-weight:bold" href="#edit_group_tab1"></a>
			</li>
			<li>
				<a id="edit_group_tab2_link" style="font-weight:bold" href="#edit_group_tab2"></a>
			</li>
			<li>
				<a id="edit_group_tab3_link" style="font-weight:bold" href="#edit_group_tab3"></a>
			</li>
		</ul>
		<div id="edit_group_tab0"></div>
		<div id="edit_group_tab1"></div>
		<div id="edit_group_tab2"></div>
		<div id="edit_group_tab3"></div>
	</div>
	<!--
	<br/>
	<div id="editGroupDialogUpdateButton" style="position:absolute;right:15px;">
	<a href="javascript:void(0);"  style="color: #FFFFFF;" class="textBtnRed"  onclick="updateUserGroup();" > <span class='btnSpan'> <span class="lm" key="buttons.save"><#= $.i18n.prop('buttons.save') #></span> </span> </a>
	</div>
	<div style="height:20px"></div>
	-->
</div>
