<div>
	<div id="edit_user_dialog">	
		 <div id="tabs_in_edit_user">
	        <ul>				        				       
	            <li id ="edit_user_tab1_list_item">
	            	<a id="edit_user_tab1_link" href="#edit_user_tab1"></a>
	            </li>				            
	            <li id ="edit_user_tab2_list_item">
	            	<a id="edit_user_tab2_link" href="#edit_user_tab2"></a>
	            </li>
	            <li id ="edit_user_tab3_list_item" >
	            	<a id="edit_user_tab3_link" href="#edit_user_tab3"></a>
	            </li>
	            <li id ="edit_user_tab4_list_item" >
	            	<a id="edit_user_tab4_link" href="#edit_user_tab4"></a>
	            </li>
	        </ul>

	        <div id="edit_user_tab1">				        	   
	        </div>				        
			<div id="edit_user_tab2">				        	
	        </div>
	        <div id="edit_user_tab3">				        	
	        </div>	
	        <div id="edit_user_tab4">				        	
	        </div>				        
	     </div>
	</div>
	<div id="edit_asset_dialog">	
	</div>
</div>