<!--EDIT ARTERA-->
<div id="idRouteResultActionsDiv" class="modBorder clearfix">
	<div class="modCopyRoute clearfix">
		<a class="multi_user_button textBtnGrey" href="javascript:void(0);" onclick="OpenSaveRoute();">
			<span class="btnSpan lm" key="buttons.save"><#= $.i18n.prop('buttons.save') #></span>
		</a>
		<a class="multi_user_button textBtnGrey" href="javascript:void(0);" onclick="printRoute('route'); return(false)">
			<span class=" btnSpan lm" key="buttons.print"><#= $.i18n.prop('buttons.print') #></span>
		</a>
	</div>
</div>