<form id="updateCategorySharing" name="updateCategorySharing" action="updateCategorySharing" method="post">
<input type="hidden" name="creator" id="updateCategorySharing_creator"/>
	<table >
		<tr>
			<td valign="top" class="box" style="vertical-align:top;">
				<table>
					<tr>
						<td colspan="2">					
							<div class="modHeader blueBG" style="border : 0 0 0 0;">
								<h2><lm name="categorySharing.AllUsersAndGroups"/></h2>
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<div class="search-action clearfix">
								<img src="images/search_g.png" />
								
								<input type="text" name="search" id="groupMemberUserSearch"  class="searchInput"
								value="" size="10" 	onfocus="if (this.value==$.i18n.prop('buttons.search')) { this.style.color='black'; this.value=''; }"
								onblur="if (this.value=='') { this.style.color='#7E7E7E'; this.value=$.i18n.prop('buttons.search'); }"
								style="color:grey;" />
							</div>
							<div id ="navigationCatShareLeft" style="overflow-x:hidden;overflow-y:auto;height:250px" class="pickListSelected">
								<!--	
								<div id ="leftGroup113262183601" style="display:block" class="accdiv">
								
											
									<a class="head" href="javascript:;" style="border:0" onclick="selectGroupCategorySharing('113262183601');">0m4r</a>
										<ul style="padding:0">
																																									
												
																		
												<li id ="leftUser112997040231" class="accli" style="display:block;">
													<a href="javascript:;" class="acca" onclick="selectUser('112997040231', '113262183601',$(this).parent());">Bruno Motta</a>
												</li>
												
																																									
												
																		
												<li id ="leftUser513268879851" class="accli" style="display:block;">
													<a href="javascript:;" class="acca" onclick="selectUser('513268879851', '113262183601',$(this).parent());">Omar&amp;#039;s Name Omar</a>
												</li>
												
																																									
												
																		
												<li id ="leftUser113288640301" class="accli" style="display:block;">
													<a href="javascript:;" class="acca" onclick="selectUser('113288640301', '113262183601',$(this).parent());">yetkin gurbuz</a>
												</li>
												
																			
										</ul>
								</div>
								-->
							
							</div>
						</td>
					</tr>	
				</table>
			</td>
			<td style="vertical-align:top;">
				<div class="arrows-container">
					<div>
						<a class="textBtnGrey action-arrow add" style="color: #000000;" href="javascript:void(0);" onclick="toRight();">
							<!--<span class='btnSpan'><span class="lm">>></span></span>-->
						</a>
					<div>
					<div>
						<a class="textBtnGrey action-arrow remove" style="color: #000000;" href="javascript:void(0);" onclick="toLeft();">
							<!--<span class='btnSpan'><span class="lm"><<</span></span>-->
						</a>
					</div>
				</div>
			</td>
			<td valign="top" class="box" style="vertical-align:top;">
				<table>
					<tr>
						<td colspan="2">	
							<div class="modHeader blueBG" style="border : 0 0 0 0;">
								<h2><lm name="categorySharing.SharedWith" /></h2>
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<div class="search-action clearfix">
								<img src="images/search_g.png" />
								<input type="text" name="search" id="groupMemberUserSearch2"  class="searchInput"
								value="" size="10" 	onfocus="if (this.value==$.i18n.prop('buttons.search')) { this.style.color='black'; this.value=''; }"
								onblur="if (this.value=='') { this.style.color='#7E7E7E'; this.value=$.i18n.prop('buttons.search'); }"
								style="color:grey;" />
							</div>
							<div id ="navigationCatShareRight" style="overflow-x:hidden;overflow-y:auto;height:250px" class="pickListAvailable">
								
								<!--
								<div id ="rightGroup113262183601" style="display:none" class="accdiv">					
									<a class="head" href="javascript:;" onclick="selectGroupCategorySharing('113262183601');">0m4r</a>
										<ul style="padding:0">
																																								
										
																
										<li id ="rightUser112997040231" class="accli" style="display:none;padding:0">
											<a href="javascript:;" class="acca" onclick="selectUser('112997040231', '113262183601',$(this).parent());">Bruno Motta</a>
										</li>
										
																																								
										
																
										<li id ="rightUser513268879851" class="accli" style="display:none;padding:0">
											<a href="javascript:;" class="acca" onclick="selectUser('513268879851', '113262183601',$(this).parent());">Omar&amp;#039;s Name Omar</a>
										</li>
										
																																								
										
																
										<li id ="rightUser113288640301" class="accli" style="display:none;padding:0">
											<a href="javascript:;" class="acca" onclick="selectUser('113288640301', '113262183601',$(this).parent());">yetkin gurbuz</a>
										</li>
										
																			
									</ul>
								</div>
								-->
							</div>
							
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</form>
